{
    "strict": {{ saml_strict | default(true) | lower }},
    "debug": {{ saml_debug | default(false) | lower }},
    "sp": {
        "entityId": "{{ base_url }}/saml/metadata",
        "assertionConsumerService": {
            "url": "{{ base_url }}/saml/acs",
            "binding": "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST"
        },
        "singleLogoutService": {
            "url": "{{ base_url }}/saml/sls",
            "binding": "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect"
        },
        "NameIDFormat": "urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified",
        "x509cert": "",
        "privateKey": ""
    },
    "idp": {
        "entityId": "{{ saml_idp_entity_id }}",
        "singleSignOnService": {
            "url": "{{ saml_idp_sso_url }}",
            "binding": "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect"
        },
        "singleLogoutService": {
            "url": "{{ saml_idp_slo_url | default('') }}",
            "binding": "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect"
        },
        "x509cert": "{{ saml_idp_cert }}"
    },
    "security": {
        "nameIdEncrypted": false,
        "authnRequestsSigned": {{ saml_sign_requests | default(false) | lower }},
        "logoutRequestSigned": {{ saml_sign_requests | default(false) | lower }},
        "logoutResponseSigned": {{ saml_sign_requests | default(false) | lower }},
        "signMetadata": {{ saml_sign_metadata | default(false) | lower }},
        "wantMessagesSigned": {{ saml_want_messages_signed | default(false) | lower }},
        "wantAssertionsSigned": {{ saml_want_assertions_signed | default(true) | lower }},
        "wantAssertionsEncrypted": false,
        "wantNameIdEncrypted": false,
        "requestedAuthnContext": true,
        "signatureAlgorithm": "http://www.w3.org/2001/04/xmldsig-more#rsa-sha256",
        "digestAlgorithm": "http://www.w3.org/2001/04/xmlenc#sha256"
    },
    "contactPerson": {
        "technical": {
            "givenName": "{{ technical_contact_name | default('Technical Support') }}",
            "emailAddress": "{{ technical_contact_email | default('') }}"
        },
        "support": {
            "givenName": "{{ support_contact_name | default('Support Team') }}",
            "emailAddress": "{{ support_contact_email | default('') }}"
        }
    },
    "organization": {
        "en-US": {
            "name": "{{ organization_name | default('Organization') }}",
            "displayname": "{{ organization_display_name | default('Organization') }}",
            "url": "{{ organization_url | default('') }}"
        }
    }
}
